*{
    box-sizing: border-box;
}

body{

    background-color: #222;
    font-family: 'segoe ui light';

}

.member{
    
    border: solid 4px #fff;
    width: 25%;
    position: relative;
    float: left;
    overflow: hidden;

}

.member img{
    width: 100%;
    transition: all 1s;
    transition-delay: 1s;
}

.member-caption{
    background-color: rgba(42,63,85,0.7);
    position: absolute;
    text-align: center;
    color: #fff;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    transition: all 1s;
    opacity: 0;
    
}

.member-caption h2{
    background-color: #2A3F55;
    margin: 0;
    padding: 10px;
    position: relative;
    left: 100%;
    top:0;
    transition: all 1s;
    transition-delay: 2s;

}
.member-caption p{

    padding: 10px;
    font-size: 22px;
    position: relative;
    left: 100%;
    top:0;
    transition: all 1s;
    transition-delay: 2.5s;

}

.member:hover .member-caption{
    transform: rotate(360deg);
    opacity: 1;
}

.member:hover img{
    transform: scale(1.2);
}

.member:hover .member-caption h2, .member:hover .member-caption p{
    left: 0%;
}


@media screen and (max-width:580px)
{
    .member{
        width:100%
    }
}

@media screen and (min-width:581px) and (max-width:798px)
{
    .member{
        width:50%
    }
}
@media screen and (min-width:799px) and (max-width:992px)
{
    .member{
        width:33.3333%
    }
}
@media screen and (min-width:993) 
{
    .member{
        width:25%
    }
}